/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

button{
	padding:5px 10px;
	font-size: 16px;
	cursor:pointer;
}
#weatherData {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
